html {
    background-color: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff; 
    line-height: 1.6;
    padding: 20px; 
    width: 100%;
    margin: 0;
    border-radius: 10px;
}

header {
    background-color: #ffffff; 
    color: #007d7b;
    padding: 20px;
    text-align: left; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
}

nav ul li {
    margin: 0 15px; 
    width: 100%;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 1px;
    background-color: #000000;
}

h1 {
    margin: 20px;
    font-size: 3em;
}

h2 {
    margin: 20px;
    font-size: 2em;
}

section {
    margin-bottom: 40px;
    background-color: #ffffff;
    color: #000000;
}

#contact {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

figure {
    text-align: center;
    position: relative;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    display: block;
}

figcaption {
    position: absolute;
    color: #000000;
    font-size: 1em;
    text-align: center;
    padding: 1px;
    top: 10px;
    left: 50%;
    border-radius: 10px;
    font-weight: bold;
}

#cap1 {
    color: #ffffff;
}

#cap2 {
    color: #ffffff;
}

#cap3 {
    color: #ffffff;
    bottom: 0;
}

#cap4 {
    color: #ffffff;
}

#cap5 {
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form label {
    margin: 10px 0 5px; 
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em; 
    border: 1px solid #007d7b;
} 

form input::placeholder, textarea::placeholder {
    color: #007d7b;
    font-weight: bold;
}

button {
    background-color: #007d7b;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #007d7b;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #ffffff;
}

@media screen and (max-width: 485px) {
    #gallery {
        grid-template-columns: 1fr;
        display: grid;
        justify-content: center;
    }

    main {
        display: grid;
    }

    header {
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width: 880px) {
    #gallery {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        display: grid;
     }

     header {
        font-size: 2rem;
     }
}

@media screen and (min-width: 1300px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        display: grid;
    }
}



